<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.kytc.dao.base.TableDao">
	<select id="getColumn" parameterType="String" 
		resultType="com.kytc.model.base.TableColumnModel">
		select 
			column_name,
			column_default,
			is_nullable,
			character_set_name,
			column_key,
			column_type,
			extra,
			column_comment,
			privileges 
		from 
			information_schema.COLUMNS 
	    where 
	    	table_name = #{tableName} 
	    	and table_schema = #{tableSchema};
	</select>
</mapper>